#buttonWithImage {
    -fx-background-image: url(HappySmiley.png);
    -fx-background-size: 140px 140px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-max-width: 200;
    -fx-min-width: 200;
    -fx-max-height: 100;
    -fx-min-height: 100;
}